<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MammothChess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15513C0B1D70F80400D67B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15513C1F1D70F80500D67B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15513C2A1D70F80500D67B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
